{% extends 'boshliq/index.html' %}
{% load static %}

{% block title %}
Mahsulotlarni ko'rish
{% endblock %}



{% block content %}

<div class="contaner" style="width: 90%; margin: 0 auto;">
    <h1 class="alert alert-primary text-center mt-5">Barcha mahsulotlarni ko'rish</h1>



    <div class="card container-xxl flex-grow-1 container-p-y">
        <div class="row">
            <div class="col-lg-10 mb-4 order-0">
                <div class="card-body">
                    <div class="card-subtitle text-muted mb-3">Mahsulot nomi:</div>
                    <h5 class="card-title"> {{ product.name }}</h5> <br>
                    <div class="card-subtitle text-muted mb-3">Mahsulot haqida:</div>
                    <p class="card-text">
                        {{ product.info }}
                    </p><br>
                    <div class="card-subtitle text-muted mb-3">AMOUNT:</div>
                    <h5 class="card-title"> {{ product.amount }}</h5> <br>
                    <div class="card-subtitle text-muted mb-3">Narxi:</div>
                    <h5 class="card-title"> {{ product.price }}</h5> <br>
                    <div class="d-flex w-100 text-end">
                        <a style="margin-left: 10px;" class="btn btn-primary"
                            href="{% url 'edit' product.id %}"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                        <a style="margin-left: 10px;" class="btn btn-danger" href="{% url 'delete' product.id %}"
                            onclick="return confirm('Ochiramizmi?')"><i class="bx bx-trash me-1"></i> Delete</a>
                        <a style="margin-left: 10px;" class="btn btn-primary" href="{% url 'createProduct' %}">
                                
                                <svg width="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.87651 15.2063C6.03251 15.2063 2.74951 15.7873 2.74951 18.1153C2.74951 20.4433 6.01251 21.0453 9.87651 21.0453C13.7215 21.0453 17.0035 20.4633 17.0035 18.1363C17.0035 15.8093 13.7415 15.2063 9.87651 15.2063Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.8766 11.886C12.3996 11.886 14.4446 9.841 14.4446 7.318C14.4446 4.795 12.3996 2.75 9.8766 2.75C7.3546 2.75 5.3096 4.795 5.3096 7.318C5.3006 9.832 7.3306 11.877 9.8456 11.886H9.8766Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M19.2036 8.66919V12.6792" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M21.2497 10.6741H17.1597" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                                Qo'shish</a>

                    </div>
                </div>
               
            </div>
        </div>

    </div>
</div>





{% endblock %}